@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: sans-serif;
  background-color: #edf2f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.card-container, .card-container-vertical {
  width: 100vw;
}

.card-wrapper, .card-wrapper-vertical {
  width: 100%;
  padding: 10px 10px 10px 10px;
  height: auto;
  /* scroll-snap-align: start; */
  display:inline-block;
  vertical-align: top;
}

.card-box { 
  margin-bottom: 10px;

}

.card-body img:hover {
  opacity: 0.8;
}


.card-body {
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.card-container {
  scroll-snap-type: x mandatory; 
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.card-container-vertical {
  overflow-y:visible;
}


.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* ensures the navbar is above other content */
}


#root {
  background-color: #e9e9e9;
  background-size: cover; /* or any other styling you need */
  background-repeat: no-repeat;
  overflow-y: auto;
  height: 100vh;
}




.horizontal-styles {
  margin-left:10px;
  margin-right:10px;
  width:22em;
}

.highlight-styles::before {
  content: "This is the current story";
}


/* Add this to your CSS file */
.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Adjust the space between the tags */
  margin-top: 10px; /* Space from the content above */
}

.tag-link {
  padding: 5px 10px; /* Adjust padding to your preference */
  background-color: #e0e0e0; /* Light grey background, change as needed */
  color: #333; /* Dark text color, change as needed */
  border-radius: 15px; /* Rounded corners for the button look */
  text-decoration: none; /* Remove underline from links */
  font-size: 0.75rem; /* Smaller font size for the tag buttons */
  transition: background-color 0.3s; /* Smooth background color transition on hover */
}

.tag-link:hover {
  background-color: #bdbdbd; /* Darker grey on hover, change as needed */
}


.page-heading { 
  /* background-color: rgb(216, 216, 216); */
  /* line-height: 20px; */
  /* color: rgb(0, 0, 0); */
}


.background {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 10px;
}

.shape.circle {
  border-radius: 50%;
}


.header-btn {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.copy-btn{
  font-size: 10px;
}